<a href="https://colab.research.google.com/github/pano1215/Bigdata_analyst_certification-/blob/main/%5B%EB%B9%85%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D%EA%B8%B0%EC%82%AC_%EC%8B%A4%EA%B8%B0_Pandas_02%5D_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EA%B5%AC%EC%A1%B0_%ED%99%95%EC%9D%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
cd /content/sample_data

/content/sample_data

In [3]:
ls /path/to/mountpoint

ls: cannot access '/path/to/mountpoint': No such file or directory

In [ ]:
!git clone https://github.com/Soyoung-Yoon/data_01

Cloning into 'data_01'...
remote: Enumerating objects: 53, done.
remote: Counting objects: 100% (53/53), done.
remote: Compressing objects: 100% (34/34), done.
remote: Total 53 (delta 19), reused 53 (delta 19), pack-reused 0
Unpacking objects: 100% (53/53), 5.48 MiB | 13.29 MiB/s, done.

In [ ]:
!git clone https://github.com/Soyoung-Yoon/data_01

fatal: destination path 'data_01' already exists and is not an empty directory.

In [ ]:
import pandas as pd

In [ ]:
# 엑셀 파일을 DF로 읽어 df라고 선언
df = pd.read_excel('data_01/youtube_rank.xlsx', engine = 'openpyxl' )
print(type(df))

original = df.copy()

<class 'pandas.core.frame.DataFrame'>

In [ ]:
temp = pd.read_csv('data_01/youtube_rank.csv')
print(type(temp))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
df.head(5)

                         title    category subscriber       view   video
0                    BLACKPINK  [음악/댄스/가수]      5140만  128억5130만    319개
1               Big Hit Labels  [음악/댄스/가수]      4550만  120억8966만    433개
2                    BANGTANTV  [음악/댄스/가수]      3870만   54억7598만  1,319개
3  Boram Tube Vlog [보람튜브 브이로그]    [키즈/어린이]      2650만  110억5288만    223개
4                       SMTOWN  [음악/댄스/가수]      2450만  180억7532만  3,583개

In [ ]:
temp.head(5)

                         title    category subscriber       view   video
0                    BLACKPINK  [음악/댄스/가수]      5140만  128억5130만    319개
1               Big Hit Labels  [음악/댄스/가수]      4550만  120억8966만    433개
2                    BANGTANTV  [음악/댄스/가수]      3870만   54억7598만  1,319개
3  Boram Tube Vlog [보람튜브 브이로그]    [키즈/어린이]      2650만  110억5288만    223개
4                       SMTOWN  [음악/댄스/가수]      2450만  180억7532만  3,583개

In [ ]:
df.tail(3)

             title category subscriber     view    video
997            OCN  [TV/방송]        40만  3억4583만  10,071개
998  Bravo jamoasi    [미분류]        40만    6193만      25개
999    덕출 : DCTVGO  [TV/방송]        40만    8249만     202개

In [ ]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   title       1000 non-null   object
 1   category    1000 non-null   object
 2   subscriber  1000 non-null   object
 3   view        1000 non-null   object
 4   video       1000 non-null   object
dtypes: object(5)
memory usage: 455.4 KB

In [ ]:
df.shape

# 행 열

(1000, 5)

In [ ]:
df.index

RangeIndex(start=0, stop=1000, step=1)

In [ ]:
df.index.values
df.index.values[:10]

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
df.columns

Index(['title', 'category', 'subscriber', 'view', 'video'], dtype='object')

In [ ]:
df.columns.values

array(['title', 'category', 'subscriber', 'view', 'video'], dtype=object)

In [ ]:
df.values

array([['BLACKPINK', '[음악/댄스/가수]', '5140만', '128억5130만', '319개'],
       ['Big Hit Labels', '[음악/댄스/가수]', '4550만', '120억8966만', '433개'],
       ['BANGTANTV', '[음악/댄스/가수]', '3870만', '54억7598만', '1,319개'],
       ...,
       ['OCN', '[TV/방송]', '40만', '3억4583만', '10,071개'],
       ['Bravo jamoasi', '[미분류]', '40만', '6193만', '25개'],
       ['덕출 : DCTVGO', '[TV/방송]', '40만', '8249만', '202개']], dtype=object)

In [ ]:
s = df['video']
s.head(5)

0      319개
1      433개
2    1,319개
3      223개
4    3,583개
Name: video, dtype: object

In [ ]:
temp = df[['video']]
print(temp.head(5))

    video
0    319개
1    433개
2  1,319개
3    223개
4  3,583개

In [ ]:
s.index

RangeIndex(start=0, stop=1000, step=1)

In [ ]:
s.values

array(['319개', '433개', '1,319개', '223개', '3,583개', '2,205개', '13,291개',
       '1,181개', '112개', '2,417개', '267개', '21,772개', '46,830개', '90개',
       '384개', '773개', '141개', '149,530개', '886개', '1,493개', '6,730개',
       '1,937개', '38,695개', '443개', '2,387개', '2,028개', '1,581개',
       '79,567개', '15,773개', '905개', '416개', '268개', '891개', '230개',
       '1,217개', '142개', '12,135개', '289개', '58,938개', '15,722개', '572개',
       '160개', '389개', '719개', '19,354개', '554개', '24,389개', '1,128개',
       '72개', '401개', '321개', '510개', '419개', '1,135개', '20,846개', '216개',
       '1,111개', '210,810개', '1,657개', '236개', '339,029개', '485개', '390개',
       '94개', '27,665개', '219개', '4,015개', '1,305개', '537개', '348개',
       '867개', '3,336개', '835개', '24개', '306개', '411개', '91,783개',
       '51,543개', '247개', '76개', '119개', '857개', '647개', '152개', '1,685개',
       '440개', '203개', '18,206개', '19,020개', '411개', '198개', '945개',
       '2,396개', '1,558개', '387개', '381개', '315개', '93개', '17,324개',
       '224개', '359개', '105,922개', '273개', '6,191개', '13개', '113개',
       '15,663개', '696개', '6,100개', '375개', '805개', '1,063개', '1,061개',
       '193개', '528개', '298개', '350개', '120개', '222개', '52,141개', '510개',
       '721개', '336개', '837개', '3,467개', '1,478개', '305개', '1,385개', '1개',
       '454개', '115개', '526개', '25개', '3,198개', '545개', '127개', '45,267개',
       '971개', '602개', '154개', '663개', '561개', '1,509개', '409개', '233개',
       '322개', '134개', '748개', '49개', '187개', '1,411개', '399개', '1,559개',
       '1,333개', '1,704개', '490개', '136개', '135개', '293개', '906개',
       '10,021개', '150개', '580개', '255개', '82개', '2,421개', '626개', '753개',
       '53,632개', '492,791개', '2,735개', '248개', '570개', '2,434개', '947개',
       '332개', '52,730개', '634개', '4,269개', '874개', '189개', '412개', '92개',
       '414개', '547개', '1,223개', '2,977개', '2,943개', '608개', '10개',
       '8,574개', '588개', '1,972개', '25,607개', '0개', '53개', '6,764개',
       '1,385개', '348개', '388개', '96개', '4,119개', '92개', '383개', '1,360개',
       '291개', '928개', '1,457개', '1,014개', '132개', '128개', '41개', '28개',
       '210개', '641개', '1,193개', '364개', '1,155개', '206개', '738개',
       '2,301개', '2,231개', '6,929개', '543개', '633개', '257개', '208개',
       '699개', '752개', '1,094개', '87개', '142개', '1,613개', '107개', '640개',
       '1,185개', '635개', '844개', '92개', '668개', '384개', '94개', '1,108개',
       '395개', '33개', '62개', '2,060개', '210개', '91,379개', '53개', '483개',
       '4,576개', '1,502개', '468개', '402개', '16,085개', '494개', '248개',
       '1,244개', '546개', '118개', '123개', '336개', '251개', '316개', '263개',
       '2,642개', '434개', '139개', '666개', '343개', '387개', '186개',
       '39,180개', '6,818개', '493개', '442개', '46개', '5,610개', '38,974개',
       '5,346개', '294개', '2,366개', '713개', '27개', '620개', '107개', '581개',
       '951개', '295개', '25,993개', '318개', '8,783개', '178개', '397개',
       '1,037개', '962개', '895개', '161개', '171개', '417개', '191개', '576개',
       '184개', '330개', '7,529개', '243개', '561개', '1,593개', '1,359개',
       '50개', '917개', '30개', '655개', '14,899개', '204개', '437개', '1,086개',
       '1,336개', '114개', '745개', '353개', '167개', '294개', '204개', '289개',
       '381개', '1,132개', '857개', '363개', '3,263개', '2,003개', '3,111개',
       '1,294개', '28개', '28개', '12개', '318개', '442개', '8,703개', '1,639개',
       '1,127개', '175개', '336개', '572개', '312개', '1,929개', '451개',
       '1,469개', '6,957개', '705개', '717개', '241개', '4,662개', '160개',
       '2,583개', '677개', '13,844개', '1,812개', '123개', '2,362개', '1,749개',
       '1,060개', '586개', '17,943개', '100개', '87,768개', '4,041개', '1,539개',
       '1,060개', '719개', '343개', '1,744개', '75,985개', '400개', '154개',
       '1,041개', '1,322개', '2,169개', '857개', '567개', '7,686개', '610개',
       '1,523개', '141개', '654개', '1,844개', '206개', '805개', '145,515개',
       '282개', '41개', '238개', '2,427개', '26개', '2,430개', '1,638개', '41개',
       '309개', '90개', '29개', '4,558개', '52,662개', '452개', '1,089개', '73개',
       '116개', '149개', '43,020개', '30,431개', '1,841개', '415개', '2,798개',
       '137개', '3,425개', '150개', '593개', '888개', '184개', '2,244개', '854개',
       '164개', '258개', '4,429개', '297개', '85개', '1,625개', '1,055개',
       '475개', '1,260개', '3,273개', '87,228개', '3,300개', '646개', '319개',
       '413개', '1,468개', '3,424개', '2,417개', '405개', '38개', '284개',
       '461개', '127개', '329개', '315개', '646개', '445개', '401개', '539개',
       '440개', '226개', '856개', '7,687개', '5개', '106개', '533개', '6,981개',
       '333개', '812개', '49개', '536개', '11,297개', '964개', '37개', '263개',
       '126개', '647개', '256개', '167개', '159개', '106개', '506개', '230개',
       '1,892개', '1,175개', '198개', '1,091개', '951개', '1,133개', '1,634개',
       '10개', '176개', '199개', '391개', '127개', '106개', '257개', '489개',
       '486개', '7,699개', '119개', '36개', '535개', '269개', '274개', '3,115개',
       '342개', '496개', '119개', '1,272개', '2,286개', '57,729개', '1,584개',
       '143개', '5,548개', '1,051개', '283개', '365개', '216개', '293개', '159개',
       '518개', '50개', '121개', '4,509개', '330개', '1,772개', '2,730개',
       '4,046개', '163개', '3,005개', '870개', '15,130개', '2,670개', '227개',
       '133개', '404개', '334개', '1,425개', '2,928개', '239개', '737개', '199개',
       '4,721개', '1,563개', '2,271개', '221개', '257개', '9,564개', '817개',
       '584개', '56개', '137개', '299개', '251개', '543개', '12개', '217개',
       '4,978개', '3,620개', '1,213개', '257개', '191개', '152개', '1,087개',
       '1,834개', '189개', '267개', '385개', '1,541개', '1,559개', '136개',
       '478개', '172개', '5,086개', '709개', '1,058개', '184개', '395개', '759개',
       '389개', '97개', '1,571개', '110개', '87개', '220개', '909개', '245개',
       '276개', '151개', '1,200개', '6,170개', '778개', '242개', '168개', '72개',
       '1,067개', '417개', '449개', '182개', '383개', '1,050개', '4,756개',
       '330개', '179개', '357개', '1,990개', '314개', '85개', '817개', '259개',
       '956개', '118개', '1,129개', '2,392개', '14,115개', '147개', '519개',
       '8,506개', '725개', '732개', '93개', '743개', '454개', '151개', '2,375개',
       '339개', '664개', '25개', '171개', '171개', '49개', '1,872개', '454개',
       '6,953개', '38개', '161개', '128개', '801개', '5,320개', '489개',
       '1,556개', '68개', '1,101개', '1,012개', '648개', '164개', '10,861개',
       '1,106개', '416개', '268개', '55개', '290개', '221개', '166개', '998개',
       '816개', '389개', '1,793개', '422개', '1,686개', '1,673개', '201개',
       '192개', '453개', '1,165개', '4,687개', '631개', '43개', '2,680개',
       '423개', '306개', '1,846개', '243개', '506개', '924개', '398개', '266개',
       '238개', '406개', '2,033개', '598개', '432개', '3,515개', '369개', '361개',
       '145개', '454개', '232개', '520개', '201개', '2,120개', '596개', '1,123개',
       '210개', '604개', '151개', '562개', '640개', '126개', '700개', '1,327개',
       '302개', '384개', '854개', '133개', '320개', '347개', '1,109개', '317개',
       '72,397개', '214개', '829개', '1,517개', '245개', '9,286개', '452개',
       '8,397개', '659개', '101개', '1,271개', '948개', '300개', '93개',
       '2,945개', '12,470개', '152개', '623개', '1,022개', '277개', '152개',
       '443개', '237개', '342개', '590개', '149개', '2,001개', '979개', '5,847개',
       '105개', '358개', '1,323개', '2,133개', '1,690개', '175개', '129개',
       '311,370개', '2,682개', '3,137개', '900개', '1,497개', '9개', '976개',
       '12,056개', '1,087개', '201개', '16,738개', '31개', '211개', '2,648개',
       '189개', '712개', '2,338개', '1,714개', '4,619개', '175개', '100개',
       '2,404개', '343개', '1,421개', '1,034개', '1,129개', '253개', '1,192개',
       '602개', '1,427개', '1,013개', '1,552개', '26,950개', '688개', '195개',
       '103개', '1,451개', '181개', '122개', '7,381개', '6,639개', '107개',
       '964개', '610개', '2,036개', '77개', '802개', '263개', '485개', '131개',
       '389개', '192개', '288개', '669개', '908개', '138개', '250개', '476개',
       '129개', '214개', '37개', '12개', '1,074개', '2,814개', '275개', '160개',
       '490개', '4,960개', '414개', '466개', '115개', '131개', '133개', '175개',
       '9,337개', '109개', '182개', '2,451개', '345개', '2,644개', '168개',
       '891개', '56개', '16,562개', '2,829개', '7,026개', '307개', '2,099개',
       '3,661개', '554개', '2,913개', '649개', '225개', '338개', '1,118개',
       '2,082개', '138개', '200개', '126개', '488개', '1,402개', '8,411개',
       '430개', '188개', '259개', '1,720개', '1,014개', '329개', '42개',
       '2,102개', '575개', '209개', '1,069개', '3,252개', '229개', '213개',
       '3,035개', '722개', '1,291개', '1,995개', '2,269개', '662개', '67개',
       '377개', '941개', '201개', '83개', '102개', '446개', '427개', '439개',
       '501개', '991개', '1,280개', '97개', '244개', '335개', '3,574개', '591개',
       '226개', '349개', '340개', '93개', '3,147개', '720개', '117개', '2,282개',
       '263개', '1,807개', '338개', '53개', '117개', '165개', '43개', '16,055개',
       '495개', '1,840개', '4,496개', '89개', '1,167개', '1,531개', '1,276개',
       '113개', '87개', '238개', '416개', '1,136개', '9,945개', '971개', '353개',
       '691개', '1,084개', '11,913개', '487개', '300개', '78개', '320개',
       '1,395개', '3,801개', '1,009개', '242개', '343개', '222개', '3,277개',
       '240개', '665개', '125개', '1,229개', '2,052개', '173개', '296개',
       '2,608개', '1,689개', '632개', '267개', '846개', '223개', '11,411개',
       '121개', '506개', '173개', '187개', '160개', '7,691개', '4,245개', '166개',
       '32개', '251개', '357개', '1,453개', '121개', '2,720개', '279개', '548개',
       '3,429개', '348개', '192개', '6,106개', '1,156개', '538개', '1,798개',
       '97개', '750개', '323개', '506개', '1,774개', '585개', '3개', '591개',
       '1,323개', '291개', '317개', '120개', '1,491개', '338개', '680개', '76개',
       '128개', '1,476개', '349개', '308개', '305개', '182개', '357개', '232개',
       '3,363개', '93개', '1,346개', '281개', '198개', '484개', '114,494개',
       '524개', '481개', '48,383개', '64,694개', '744개', '5,152개', '503개',
       '226개', '10,071개', '25개', '202개'], dtype=object)

In [ ]:
df.columns

Index(['title', 'category', 'subscriber', 'view', 'video'], dtype='object')

In [ ]:
df.columns = ['채널', '카테고리', '구독자', '조회', '영상']
df.head(2)

               채널        카테고리    구독자         조회    영상
0       BLACKPINK  [음악/댄스/가수]  5140만  128억5130만  319개
1  Big Hit Labels  [음악/댄스/가수]  4550만  120억8966만  433개

In [ ]:
## [빅데이터 분석기사 실기 - Pandas 03] 데이터 및 dtype 변경 1/2
#  [1-12] 원본(original)을 복사하여 df 이름을 부여합니다.
df = original.copy()

In [ ]:
df.head(5)

                         title    category subscriber       view   video
0                    BLACKPINK  [음악/댄스/가수]      5140만  128억5130만    319개
1               Big Hit Labels  [음악/댄스/가수]      4550만  120억8966만    433개
2                    BANGTANTV  [음악/댄스/가수]      3870만   54억7598만  1,319개
3  Boram Tube Vlog [보람튜브 브이로그]    [키즈/어린이]      2650만  110억5288만    223개
4                       SMTOWN  [음악/댄스/가수]      2450만  180억7532만  3,583개

In [ ]:
# [1-14] df의 각 column 별 dtype을 확인합니다.
df.dtypes
print(df.dtypes)

title         object
category      object
subscriber    object
view          object
video         object
dtype: object

In [ ]:
print(df['subscriber'].dtype)

object

In [ ]:
# [1-16] df의 'subscriber'의 첫 3개 행을 출력해 내용을 확인합니다.

df['subscriber'].head(3)

0    5140만
1    4550만
2    3870만
Name: subscriber, dtype: object

In [ ]:
# [1-17] df의 'subscriber'컬럼의 dtype을 'int64' 으로 변경하여 보자
# 오류 발생함 - 한글, 특수문자 등이 섞여 있으면 정수로 변경할 수 없음
df['subscriber'].astype('int64')

ValueError: ignored

In [ ]:
# [1-18] df의 'subscriber' 컬럼에 대해 '만'을 '0000'으로 변경하는 코드를 작성합니다.
# replace는 기본적으로 값 전체를 대상으로 동작합니다.
# 일부 내용을 대상으로 하기 위해서는 regex=True 를 사용합니다.
# regex(=regular expression) - 문자열의 일부, 문자열 패턴을 사용하는 방법
df['subscriber'].replace('만', '0000', regex = True).head(5)

0    51400000
1    45500000
2    38700000
3    26500000
4    24500000
Name: subscriber, dtype: object

In [ ]:
df['subscriber'].head(3)

0    5140만
1    4550만
2    3870만
Name: subscriber, dtype: object

In [ ]:
df['subscriber'].replace('만', '0000', regex = True).astype('int64')

0      51400000
1      45500000
2      38700000
3      26500000
4      24500000
         ...
995      400000
996      400000
997      400000
998      400000
999      400000
Name: subscriber, Length: 1000, dtype: int64

In [ ]:
# [빅데이터 분석기사 실기 - Pandas 04] 데이터 및 dtype 변경 2/2

In [ ]:
# [1-20] df의 'view' 컬럼에 대해서 첫 5개 행을 조회 합니다.
df['view'].head()

0    128억5130만
1    120억8966만
2     54억7598만
3    110억5288만
4    180억7532만
Name: view, dtype: object

In [ ]:
# [1-21] df의 'view' 컬럼에 대해 '억'에 대해서는 삭제, '만'에 대해서는 '0000'로 변경하는 작업을 수행한 뒤, 처음 5개 데이터를 출력합니다.
# 변경할 내용이 여러  개 일 경우 두 개의 list 또는 dict 를 사용합니다.
# 128억5130만 => 12851300000
df['view'].replace(['억', '만'], ['', '0000'], regex = True).head()

0    12851300000
1    12089660000
2     5475980000
3    11052880000
4    18075320000
Name: view, dtype: object

In [ ]:
df['view'].replace({'억':'', '만':'0000'}, regex = True).head()

0    12851300000
1    12089660000
2     5475980000
3    11052880000
4    18075320000
Name: view, dtype: object

In [ ]:
# [1-22] df의 'view' 컬럼에 대해 '억'에 대해서는 삭제, '만'에 대해서는 '0000'로 변경하는 작업을 수행한 뒤,
# astype('int64')를 사용하여 데이터 타입을 정수로 변경하고 처음 5개 데이터를 출력합니다.
df['view'].replace(['억', '만'], ['', '0000'], regex = True).astype('int64').head()

0    12851300000
1    12089660000
2     5475980000
3    11052880000
4    18075320000
Name: view, dtype: int64

In [ ]:
# [1-23] df의 'video' 컬럼의 첫 5개 데이터를 확인합니다.
df['video'].head()

0      319개
1      433개
2    1,319개
3      223개
4    3,583개
Name: video, dtype: object

In [ ]:
# [1-24] df의 'video' 컬럼에서 '개'와 ','을 제거하는 작업을 수행한 뒤, 처음 5개 데이터를 출력합니다.
# 콤마(,)는 의미가 있는 문자이므로 \(역슬래쉬)를 함께 사용합니다.
# 메타문자 : , . + ? * ^ $ [  ]  ... 등 , 메타문자의 기능을 없애기 위해 '\,'  '\.'
df['video'].replace(['\,', '개'], ['', ''], regex = True).head()

0     319
1     433
2    1319
3     223
4    3583
Name: video, dtype: object

In [ ]:
# [1-25] df의 'video' 컬럼에서 '개', ','을 제거하고, astype('int32')를 사용하여 는 작업을 수행한 뒤, 처음 5개 데이터를 출력합니다.
df['video'].replace(['\,', '개'], ['', ''], regex = True).astype('int32').head()

0     319
1     433
2    1319
3     223
4    3583
Name: video, dtype: int32

In [ ]:
# [1-26] df의 열 중 'category' 컬럼에 대해 값 별 개수를 확인합니다.
print(df['category'].value_counts())

[음악/댄스/가수]     175
[TV/방송]        161
[게임]           101
[키즈/어린이]        95
[음식/요리/레시피]     88
[BJ/인물/연예인]     68
[패션/미용]         57
[뉴스/정치/사회]      56
[미분류]           40
[취미/라이프]        40
[영화/만화/애니]      33
[교육/강의]         23
[애완/반려동물]       20
[스포츠/운동]        12
[IT/기술/컴퓨터]      8
[해외]             6
[주식/경제/부동산]      5
[국내/해외/여행]       5
[회사/오피셜]         4
[자동차]            2
[취미]             1
Name: category, dtype: int64

In [ ]:
# [1-27] df의 'category'에 대해 첫글자와 마지막 글자인 '[', ']'을 제거합니다.
# replace를 사용하여 제거할 수 있지만, Accessor 중 str을 사용하여 보도록 합니다.
#df['category'].replace({'\[':'', '\]':''}, regex=True).head()    # 첫글자, 마지막 글자가 아니라도 제거함
temp = df['category'].replace({'\[':'', '\]':''}, regex=True)
temp.value_counts()

음악/댄스/가수     175
TV/방송        161
게임           101
키즈/어린이        95
음식/요리/레시피     88
BJ/인물/연예인     68
패션/미용         57
뉴스/정치/사회      56
미분류           40
취미/라이프        40
영화/만화/애니      33
교육/강의         23
애완/반려동물       20
스포츠/운동        12
IT/기술/컴퓨터      8
해외             6
주식/경제/부동산      5
국내/해외/여행       5
회사/오피셜         4
자동차            2
취미             1
Name: category, dtype: int64

In [ ]:
# [1-28] df의 'category'에 대해 '[', ']'을 제거하고, astype('category') 를 사용하여 category 타입으로 변경합니다.
df['category'].replace(['\[', '\]'], '', regex = True).astype('category')

0      음악/댄스/가수
1      음악/댄스/가수
2      음악/댄스/가수
3        키즈/어린이
4      음악/댄스/가수
         ...
995         미분류
996      취미/라이프
997       TV/방송
998         미분류
999       TV/방송
Name: category, Length: 1000, dtype: category
Categories (21, object): ['BJ/인물/연예인', 'IT/기술/컴퓨터', 'TV/방송', '게임', ..., '키즈/어린이', '패션/미용', '해외', '회사/오피셜']

In [ ]:
df['category'].str[1:-1].astype('category')

0      음악/댄스/가수
1      음악/댄스/가수
2      음악/댄스/가수
3        키즈/어린이
4      음악/댄스/가수
         ...
995         미분류
996      취미/라이프
997       TV/방송
998         미분류
999       TV/방송
Name: category, Length: 1000, dtype: category
Categories (21, object): ['BJ/인물/연예인', 'IT/기술/컴퓨터', 'TV/방송', '게임', ..., '키즈/어린이', '패션/미용', '해외', '회사/오피셜']

In [ ]:
# [1-29] 위의 replace 및 accessor-str을 사용한 작업을 요약해 보겠습니다.
df['subscriber'] = df['subscriber'].replace('만', '0000', regex=True).astype('int64')
df['view'] = df['view'].replace({'억':'', '만':'0000'}, regex=True).astype('int64')
df['video'] = df['video'].replace(['개', '\,'], '', regex=True).astype('int32')
df['category'] = df['category'].str[1:-1].astype('category')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   title       1000 non-null   object
 1   category    1000 non-null   category
 2   subscriber  1000 non-null   int64
 3   view        1000 non-null   int64
 4   video       1000 non-null   int32
dtypes: category(1), int32(1), int64(2), object(1)
memory usage: 29.2+ KB

In [ ]:
# [1-30] 'youtube_v1.xlsx' 엑셀 파일로 저장하기
df.to_excel('youtube_v1.xlsx', index = False)

In [ ]:
temp = pd.read_excel('youtube_v1.xlsx', engine = 'openpyxl')

In [ ]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   title       1000 non-null   object
 1   category    1000 non-null   object
 2   subscriber  1000 non-null   int64
 3   view        1000 non-null   int64
 4   video       1000 non-null   int64
dtypes: int64(3), object(2)
memory usage: 39.2+ KB

# [빅데이터 분석기사 실기 - Pandas 05] datetime category의 dtype 변경

In [ ]:
temp = pd.DataFrame({'날짜_일반': ['2021/01/01', '2021/01/02', '2021/01/03', '2021/01/04', '2021/01/05'],
                     '날짜_시간': ['2021-01-01 1:12:10', '2021-01-02 1:13:45', '2021-01-03 2:50:10', '2021-01-04 3:12:30', '2021-01-05 5:40:20'],
                     '날짜_특수': ['21-01-01', '21-01-02', '21-01-03', '21-01-04', '21-01-05'],
                     '범주': ['금', '토', '일', '월', '화']})
temp

        날짜_일반               날짜_시간     날짜_특수 범주
0  2021/01/01  2021-01-01 1:12:10  21-01-01  금
1  2021/01/02  2021-01-02 1:13:45  21-01-02  토
2  2021/01/03  2021-01-03 2:50:10  21-01-03  일
3  2021/01/04  2021-01-04 3:12:30  21-01-04  월
4  2021/01/05  2021-01-05 5:40:20  21-01-05  화

In [ ]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜_일반   5 non-null      object
 1   날짜_시간   5 non-null      object
 2   날짜_특수   5 non-null      object
 3   범주      5 non-null      object
dtypes: object(4)
memory usage: 288.0+ bytes

In [ ]:
import numpy as np
# Series.astype(np.datetime64) 을 사용하여 '날짜_일반'의 dtype을 변경해 보자
s1 = temp['날짜_일반'].astype(np.datetime64)
s1

0   2021-01-01
1   2021-01-02
2   2021-01-03
3   2021-01-04
4   2021-01-05
Name: 날짜_일반, dtype: datetime64[ns]

In [ ]:
# Series.astype(np.datetime64) 을 사용하여 '날짜_시간'의 dtype을 변경해 보자
s2 = temp['날짜_시간'].astype(np.datetime64)
s2

0   2021-01-01 01:12:10
1   2021-01-02 01:13:45
2   2021-01-03 02:50:10
3   2021-01-04 03:12:30
4   2021-01-05 05:40:20
Name: 날짜_시간, dtype: datetime64[ns]

In [ ]:
# Series.astype(np.datetime64)을 사용하여 '날짜_특수'의 dtype을 변경해 보자
s3 = temp['날짜_특수'].astype(np.datetime64)
s3

0   2001-01-21
1   2002-01-21
2   2003-01-21
3   2004-01-21
4   2005-01-21
Name: 날짜_특수, dtype: datetime64[ns]

In [ ]:
# pd.to_datetime(Series, format='형식')을 사용하여 '날짜_특수'의 dtype을 변경해 보자
s4 = pd.to_datetime(temp['날짜_특수'], format = '%y-%m-%d')
s4

0   2021-01-01
1   2021-01-02
2   2021-01-03
3   2021-01-04
4   2021-01-05
Name: 날짜_특수, dtype: datetime64[ns]

In [ ]:
# Series.astype('category')를 사용하여 '범주'의 dtype을 변경해 보자
s5 = temp['범주'].astype('category')
s5

0    금
1    토
2    일
3    월
4    화
Name: 범주, dtype: category
Categories (5, object): ['금', '월', '일', '토', '화']

In [ ]:
# 위에서 만들어진 '범주'를 정렬해 보자 (Series.sort_values() 사용)
# 가나다 순서로 정렬됨
s5.sort_values()

0    금
3    월
2    일
1    토
4    화
Name: 범주, dtype: category
Categories (5, object): ['금', '월', '일', '토', '화']

In [ ]:
# pd.Categorical(Series, categories=카테고리목록, ordered=True)를 사용해 요일 순 범주를 만들어 보자
# 요일목록 => ['월', '화', '수', '목', '금', '토', '일']
s6 = pd.Categorical(temp['범주'], categories = ['월', '화', '수', '목', '금', '토', '일'], ordered = True)
# ordered = True <- 순서를 부여한다는 의미
s6

['금', '토', '일', '월', '화']
Categories (7, object): ['월' < '화' < '수' < '목' < '금' < '토' < '일']

In [ ]:
temp['범주'] = s6
temp['범주']

0    금
1    토
2    일
3    월
4    화
Name: 범주, dtype: category
Categories (7, object): ['월' < '화' < '수' < '목' < '금' < '토' < '일']

In [ ]:
# 위에서 만들어진 '범주'를 정렬해 보자 (Series.sort_values() 사용)
temp['범주'].sort_values()

3    월
4    화
0    금
1    토
2    일
Name: 범주, dtype: category
Categories (7, object): ['월' < '화' < '수' < '목' < '금' < '토' < '일']

# [빅데이터 분석기사 실기 - Pandas 06] 데이터 정렬로 TOP3 TOP5 찾기

In [ ]:
import pandas as pd
df = pd.read_excel('data_01/youtube_rank.xlsx', engine='openpyxl')
df['subscriber'] = df['subscriber'].replace('만', '0000', regex=True).astype('int64')
df['view'] = df['view'].replace({'억':'', '만':'0000'}, regex=True).astype('int64')
df['video'] = df['video'].replace(['개', '\,'], '', regex=True).astype('int32')
df['category'] = df['category'].str[1:-1].astype('category')
df.head(2)

            title  category  subscriber         view  video
0       BLACKPINK  음악/댄스/가수    51400000  12851300000    319
1  Big Hit Labels  음악/댄스/가수    45500000  12089660000    433

In [ ]:
# [1-31] 'subscriber' 가 가장 많은 5개의 채널을 알아봅니다.
df.sort_values('subscriber', ascending = False).head(5)

                         title  category  subscriber         view  video
0                    BLACKPINK  음악/댄스/가수    51400000  12851300000    319
1               Big Hit Labels  음악/댄스/가수    45500000  12089660000    433
2                    BANGTANTV  음악/댄스/가수    38700000   5475980000   1319
3  Boram Tube Vlog [보람튜브 브이로그]    키즈/어린이    26500000  11052880000    223
4                       SMTOWN  음악/댄스/가수    24500000  18075320000   3583

In [ ]:
# [1-32] 'view'가 가장 많은 5개 채널을 알아봅니다
df.sort_values('view', ascending = False).head()

              title  category  subscriber         view  video
4            SMTOWN  음악/댄스/가수    24500000  18075320000   3583
6      1theK (원더케이)  음악/댄스/가수    20900000  17860420000  13291
8  ArianaGrandeVevo  음악/댄스/가수    18200000  14796920000    112
0         BLACKPINK  음악/댄스/가수    51400000  12851300000    319
1    Big Hit Labels  음악/댄스/가수    45500000  12089660000    433

In [ ]:
# [1-33] 'video'가 가장 많은 5개 채널을 알아봅니다
df.sort_values('video', ascending = False).head()

                 title  category  subscriber        view   video
169           YTN news  뉴스/정치/사회     1970000  3801710000  492791
60           SBS Drama     TV/방송     4360000  4260860000  339029
737             연합뉴스TV  뉴스/정치/사회      550000   697650000  311370
57   SBS Entertainment     TV/방송     4490000  4516190000  210810
17                 CNN  뉴스/정치/사회    10900000  7899750000  149530

In [ ]:
# [1-34] 'video'가 가장 적은 5개 채널을 알아봅니다
df.sort_values('video', ascending = True).head()

,title,category,subscriber,view,video
194,OfficialGDRAGON,음악/댄스/가수,1750000,0,0
128,tzuyang쯔양,음식/요리/레시피,2570000,2570000,1
964,fx,음악/댄스/가수,410000,380000,3
454,CL,음악/댄스/가수,840000,52470000,5
742,Trouble Maker (Official YouTube Channel),음악/댄스/가수,540000,173840000,9

In [ ]:
# [1-35] 'category'로 오름차순, 'subscriber'로 내림차순 정렬해 봅니다.
df.sort_values(['category', 'subscriber'], ascending = [True, False])

                      title   category  subscriber        view  video
52      [Awesome Haeun]어썸하은  BJ/인물/연예인     4840000   703070000    419
75   영국남자 Korean Englishman  BJ/인물/연예인     3940000  1160110000    411
79              워크맨-Workman  BJ/인물/연예인     3810000   469330000     76
82              waveya 2011  BJ/인물/연예인     3720000  1299280000    647
84                 허팝Heopop  BJ/인물/연예인     3710000  2748310000   1685
..                      ...        ...         ...         ...    ...
671            AshleyMariee         해외      590000    55950000   2033
53                  Samsung     회사/오피셜     4780000   585350000   1135
108               Billboard     회사/오피셜     2900000  1010800000   6100
709           미스&미스터트롯 공식계정     회사/오피셜      570000   202340000    659
722                  KB국민카드     회사/오피셜      560000   187960000    443

[1000 rows x 5 columns]

# [빅데이터 분석기사 실기 - Pandas 07] 데이터 검색, boolean indexing

In [ ]:
temp = pd.DataFrame({'A': [1, 2, 3, 4],
                     'B': [6, 5, 4, 3],
                     'C': [3, 4, 5, 2]})
temp

   A  B  C
0  1  6  3
1  2  5  4
2  3  4  5
3  4  3  2

In [ ]:
temp[[True, True, False, True]]

   A  B  C
0  1  6  3
1  2  5  4
3  4  3  2

In [ ]:
temp.loc[[False, True, False, True], ['A', 'C']]

   A  C
1  2  4
3  4  2

In [ ]:
# [1-36] 'category'가 '음악/댄스/가수'인 채널의 subscriber TOP5를 알아봅니다.
df[df['category'] == '음악/댄스/가수'].sort_values('subscriber', ascending = False).head()

                   title  category  subscriber         view  video
0              BLACKPINK  음악/댄스/가수    51400000  12851300000    319
1         Big Hit Labels  음악/댄스/가수    45500000  12089660000    433
2              BANGTANTV  음악/댄스/가수    38700000   5475980000   1319
4                 SMTOWN  음악/댄스/가수    24500000  18075320000   3583
5  1MILLION Dance Studio  음악/댄스/가수    22300000   5753580000   2205

In [ ]:
# [1-37] 'category'가 'TV/방송'인 채널의 view TOP5를 알아봅니다.
df[df['category'] == 'TV/방송'].sort_values('view', ascending = False).head()

                title category  subscriber         view   video
12          KBS World    TV/방송    14300000  10158060000   46830
22            MBCkpop    TV/방송     8670000   6339380000   38695
76      KBS Entertain    TV/방송     3930000   5340910000   91783
57  SBS Entertainment    TV/방송     4490000   4516190000  210810
77           MBCdrama    TV/방송     3920000   4350540000   51543

In [ ]:
# [1-38] 'subscriber'가 30000000 (3천만) 이상인 채널을 알아봅니다.
df[df['subscriber'] >= 30000000]

            title  category  subscriber         view  video
0       BLACKPINK  음악/댄스/가수    51400000  12851300000    319
1  Big Hit Labels  음악/댄스/가수    45500000  12089660000    433
2       BANGTANTV  음악/댄스/가수    38700000   5475980000   1319

In [ ]:
# [1-39] 'video' 개수가 30000 이상 35000 이하인 채널을 알아봅니다.
df[(df['video'] >= 30000) & (df['video'] <= 35000)]

         title  category  subscriber       view  video
409  TBS 시민의방송  뉴스/정치/사회      930000  582330000  30431

In [ ]:
# [1-40] 'subscriber'가 30000000 (3천만)이상 이거나,
#        'video' 개수가 50000 이상인 채널을 알아봅니다.
df[(df['subscriber'] >= 30000000) | (df['video'] >= 50000)]

                  title  category  subscriber         view   video
0             BLACKPINK  음악/댄스/가수    51400000  12851300000     319
1        Big Hit Labels  음악/댄스/가수    45500000  12089660000     433
2             BANGTANTV  음악/댄스/가수    38700000   5475980000    1319
17                  CNN  뉴스/정치/사회    10900000   7899750000  149530
27     MBCentertainment  뉴스/정치/사회     7710000  11683060000   79567
38   JTBC Entertainment  뉴스/정치/사회     6020000   7638370000   58938
57    SBS Entertainment     TV/방송     4490000   4516190000  210810
60            SBS Drama     TV/방송     4360000   4260860000  339029
76        KBS Entertain     TV/방송     3930000   5340910000   91783
77             MBCdrama     TV/방송     3920000   4350540000   51543
101           KBS Drama     TV/방송     3040000   3538510000  105922
119                 tvN     TV/방송     2680000   3307570000   52141
168           TV CHOSUN  뉴스/정치/사회     1990000   3255290000   53632
169            YTN news  뉴스/정치/사회     1970000   3801710000  492791
176     런닝맨 - 스브스 공식 채널     TV/방송     1880000   2116410000   52730
248           JTBC News  뉴스/정치/사회     1400000   1573740000   91379
366              SBS 뉴스  뉴스/정치/사회     1010000   1458080000   87768
373           SBS STORY  뉴스/정치/사회      990000   1254640000   75985
389            KBS News  뉴스/정치/사회      960000   1017410000  145515
402              채널A 뉴스  뉴스/정치/사회      940000   1039130000   52662
431             MBCNEWS  뉴스/정치/사회      890000   1388710000   87228
502          뉴스TVCHOSUN  뉴스/정치/사회      770000    623510000   57729
701            MBN News  뉴스/정치/사회      570000    623580000   72397
737              연합뉴스TV  뉴스/정치/사회      550000    697650000  311370
988        ARIRANG NEWS  뉴스/정치/사회      400000    190750000  114494
992              KBS 교양  뉴스/정치/사회      400000    297960000   64694

# [빅데이터 분석기사 실기 - Pandas 08] isin(), str Accessor의 사용

In [ ]:
# [1-41] 'category'의 값 별 개수를 확인합니다.
df['category'].value_counts()

음악/댄스/가수     175
TV/방송        161
게임           101
키즈/어린이        95
음식/요리/레시피     88
BJ/인물/연예인     68
패션/미용         57
뉴스/정치/사회      56
미분류           40
취미/라이프        40
영화/만화/애니      33
교육/강의         23
애완/반려동물       20
스포츠/운동        12
IT/기술/컴퓨터      8
해외             6
주식/경제/부동산      5
국내/해외/여행       5
회사/오피셜         4
자동차            2
취미             1
Name: category, dtype: int64

In [ ]:
# [1-42] 'category'가 'TV/방송' 이거나 '게임'인 채널의 개수를 확인합니다.  (262개)
temp = df[(df['category'] == 'TV/방송') | (df['category'] == '게임')].value_counts()
len(temp)

262

In [ ]:
temp = df[df['category'].isin(['TV/방송', '게임'])].value_counts()
len(temp)

262

In [ ]:
# [1-43] 'category'가 '음악/댄스/가수'인 채널의 subscriber TOP5를 알아봅니다. (isin 활용)
df[df['category'].isin(['음악/댄스/가수'])].sort_values('subscriber', ascending = False).head()

                   title  category  subscriber         view  video
0              BLACKPINK  음악/댄스/가수    51400000  12851300000    319
1         Big Hit Labels  음악/댄스/가수    45500000  12089660000    433
2              BANGTANTV  음악/댄스/가수    38700000   5475980000   1319
4                 SMTOWN  음악/댄스/가수    24500000  18075320000   3583
5  1MILLION Dance Studio  음악/댄스/가수    22300000   5753580000   2205

In [ ]:
# [1-43] 'category'가 '음악/댄스/가수'인 채널의 subscriber TOP5를 알아봅니다. (isin 활용)
df[df['category'] == '음악/댄스/가수'].sort_values('subscriber', ascending = False).head()

                   title  category  subscriber         view  video
0              BLACKPINK  음악/댄스/가수    51400000  12851300000    319
1         Big Hit Labels  음악/댄스/가수    45500000  12089660000    433
2              BANGTANTV  음악/댄스/가수    38700000   5475980000   1319
4                 SMTOWN  음악/댄스/가수    24500000  18075320000   3583
5  1MILLION Dance Studio  음악/댄스/가수    22300000   5753580000   2205

In [ ]:
# [1-44] title에 'KBS'가 포함된 채널 명 목록을 만들어 봅니다.
df[df['title'].str.contains('KBS')]['title'].to_list()

['KBS World',
 'KBS Kpop',
 'KBS Entertain',
 'KBS Drama',
 'KBS 한국방송',
 'KBS Drama Classic',
 'KBS HUMAN: 뭉클티비',
 'KBS News',
 'KBS CoolFM',
 'KBS N',
 'KBS KONG',
 'KBS Documentary [KBS 다큐]',
 'KBS 교양']

In [ ]:
df[df['title'].str.contains('KBS')]['title'].to_numpy()

array(['KBS World', 'KBS Kpop', 'KBS Entertain', 'KBS Drama', 'KBS 한국방송',
       'KBS Drama Classic', 'KBS HUMAN: 뭉클티비', 'KBS News', 'KBS CoolFM',
       'KBS N', 'KBS KONG', 'KBS Documentary [KBS 다큐]', 'KBS 교양'],
      dtype=object)

In [ ]:
df.loc[df['title'].str.contains('KBS'), 'title'].to_numpy()

array(['KBS World', 'KBS Kpop', 'KBS Entertain', 'KBS Drama', 'KBS 한국방송',
       'KBS Drama Classic', 'KBS HUMAN: 뭉클티비', 'KBS News', 'KBS CoolFM',
       'KBS N', 'KBS KONG', 'KBS Documentary [KBS 다큐]', 'KBS 교양'],
      dtype=object)

In [ ]:
# 대소문자 구분 없이 검색 하려면?
df.loc[df['title'].str.upper().str.contains('KBS'), 'title'].to_numpy()
# df['title'].str.upper().str.contains('KBS') <- 이 부분은 조건이기 때문에 실제 값이 바뀌는 것은 아님

array(['KBS World', 'KBS Kpop', 'KBS Entertain', 'KBS Drama', 'KBS 한국방송',
       'KBS Drama Classic', 'KBS HUMAN: 뭉클티비', 'KBS News', 'KBS CoolFM',
       'KBS N', 'KBS KONG', 'KBS Documentary [KBS 다큐]', 'KBS 교양'],
      dtype=object)

# [빅데이터 분석기사 실기 - Pandas 09] Series의 통계값 구하기

In [ ]:
import pandas as pd
df = pd.read_excel('data_01/youtube_rank.xlsx', engine='openpyxl')
df['subscriber'] = df['subscriber'].replace('만', '0000', regex=True).astype('int64')
df['view'] = df['view'].replace({'억':'', '만':'0000'}, regex=True).astype('int64')
df['video'] = df['video'].replace(['개', '\,'], '', regex=True).astype('int32')
df['category'] = df['category'].str[1:-1].astype('category')
df.head(2)

            title  category  subscriber         view  video
0       BLACKPINK  음악/댄스/가수    51400000  12851300000    319
1  Big Hit Labels  음악/댄스/가수    45500000  12089660000    433

In [ ]:
# 소수점 아래 2째자리까지 표시되도록 설정하기
pd.options.display.float_format = '{:,.2f}'.format

In [ ]:
# [1-45] subscriber, view, video에 대한 통계값을 알아봅니다. (describe 사용)
df.describe()

         subscriber              view      video
count      1,000.00          1,000.00   1,000.00
mean   1,645,040.00    672,294,140.00   4,766.68
std    3,422,951.74  1,588,075,704.63  25,424.80
min      400,000.00              0.00       0.00
25%      540,000.00    109,560,000.00     222.00
50%      780,000.00    242,365,000.00     506.00
75%    1,392,500.00    535,182,500.00   1,491.50
max   51,400,000.00 18,075,320,000.00 492,791.00

In [ ]:
# [1-46] 'video' 컬럼의 데이터 개수를 구합니다
df['video'].count()

1000

In [ ]:
# [1-47] 'video' 컬럼의 합계를 구합니다.
df['video'].sum()

4766680

In [ ]:
# [1-48] 'video' 컬럼의 평균, 중앙값을 구합니다.
df['video'].mean(), df['video'].median()

(4766.68, 506.0)

In [ ]:
# [1-49] 'video'의 분산과 표준편차를 구합니다.
df['video'].var(), df['video'].std()

(646420552.9165165, 25424.801924823652)

In [ ]:
# [1-50] 'subscriber'의 최대, 최소값을 구합니다.
df['subscriber'].max(), df['subscriber'].min()

(51400000, 400000)

In [ ]:
# [1-51] 'subscriber'의 최빈값을 구합니다. => Series
df['subscriber'].mode(), df['subscriber'].mode()[0]
# 최빈값이 한 개가 아닌 여러 개일 수 있기 때문에 시리즈로 출력됨

(0    440000
 Name: subscriber, dtype: int64,
 440000)

In [ ]:
# [1-52] 'subscriber'의 Q1, Q2, Q3(25% 50%, 75%) 를 구합니다.
df['subscriber'].quantile()

780000.0

In [ ]:
Q1, Q2, Q3 = df['subscriber'].quantile([0.25, 0.5, 0.75])
print(Q1, Q2, Q3, Q3 - Q1)
# IQR = Q3 - Q1

540000.0 780000.0 1392500.0 852500.0

In [ ]:
# [1-53] category 별 평균을 구할 수 있는 모든 컬럼에 대한 평균을 구합니다.
df.groupby('category').mean()

<ipython-input-164-2f336c0866b9>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('category').mean()

            subscriber             view     video
category
BJ/인물/연예인 1,274,411.76   410,154,852.94    837.74
IT/기술/컴퓨터   806,250.00   176,610,000.00  1,200.12
TV/방송     1,219,875.78   718,483,416.15  9,025.13
게임          743,564.36   454,253,465.35  2,527.01
교육/강의       851,304.35   177,218,260.87    837.91
국내/해외/여행    626,000.00   186,624,000.00    830.20
뉴스/정치/사회  1,226,964.29 1,199,935,535.71 42,048.09
미분류       1,429,500.00   409,034,000.00    778.05
스포츠/운동      932,500.00   279,189,166.67  3,954.92
애완/반려동물   1,161,000.00   421,317,000.00    786.25
영화/만화/애니    852,727.27   318,586,969.70    770.18
음식/요리/레시피 1,612,045.45   407,381,931.82    830.02
음악/댄스/가수  3,195,200.00 1,091,668,457.14  1,382.05
자동차         490,000.00   185,615,000.00    670.00
주식/경제/부동산   626,000.00    68,000,000.00  1,026.40
취미          560,000.00   106,150,000.00    237.00
취미/라이프      974,500.00   204,311,750.00    359.32
키즈/어린이    2,729,157.89 1,281,384,315.79  1,069.16
패션/미용       823,859.65   104,377,368.42    313.16
해외        1,595,000.00   838,253,333.33  5,043.50
회사/오피셜    2,202,500.00   496,612,500.00  2,084.25

In [ ]:
# [1-54] category 별 view에 대한 평균을 구합니다.
df.groupby('category')[['view']].mean()

                      view
category
BJ/인물/연예인   410,154,852.94
IT/기술/컴퓨터   176,610,000.00
TV/방송       718,483,416.15
게임          454,253,465.35
교육/강의       177,218,260.87
국내/해외/여행    186,624,000.00
뉴스/정치/사회  1,199,935,535.71
미분류         409,034,000.00
스포츠/운동      279,189,166.67
애완/반려동물     421,317,000.00
영화/만화/애니    318,586,969.70
음식/요리/레시피   407,381,931.82
음악/댄스/가수  1,091,668,457.14
자동차         185,615,000.00
주식/경제/부동산    68,000,000.00
취미          106,150,000.00
취미/라이프      204,311,750.00
키즈/어린이    1,281,384,315.79
패션/미용       104,377,368.42
해외          838,253,333.33
회사/오피셜      496,612,500.00

In [ ]:
print(df.groupby('category')[['view']].mean())

category
BJ/인물/연예인     410,154,852.94
IT/기술/컴퓨터     176,610,000.00
TV/방송         718,483,416.15
게임            454,253,465.35
교육/강의         177,218,260.87
국내/해외/여행      186,624,000.00
뉴스/정치/사회    1,199,935,535.71
미분류           409,034,000.00
스포츠/운동        279,189,166.67
애완/반려동물       421,317,000.00
영화/만화/애니      318,586,969.70
음식/요리/레시피     407,381,931.82
음악/댄스/가수    1,091,668,457.14
자동차           185,615,000.00
주식/경제/부동산      68,000,000.00
취미            106,150,000.00
취미/라이프        204,311,750.00
키즈/어린이      1,281,384,315.79
패션/미용         104,377,368.42
해외            838,253,333.33
회사/오피셜        496,612,500.00
Name: view, dtype: float64

In [ ]:
# [1-55] category 별 view, video에 대한 합계를 구합니다.
df.groupby('category')[['view', 'video']].sum()

                   view    video
category
BJ/인물/연예인   27890530000    56966
IT/기술/컴퓨터    1412880000     9601
TV/방송      115675830000  1453046
게임          45879600000   255228
교육/강의        4076020000    19272
국내/해외/여행      933120000     4151
뉴스/정치/사회    67196390000  2354693
미분류         16361360000    31122
스포츠/운동       3350270000    47459
애완/반려동물      8426340000    15725
영화/만화/애니    10513370000    25416
음식/요리/레시피   35849610000    73042
음악/댄스/가수   191041980000   241859
자동차           371230000     1340
주식/경제/부동산     340000000     5132
취미            106150000      237
취미/라이프       8172470000    14373
키즈/어린이     121731510000   101570
패션/미용        5949510000    17850
해외           5029520000    30261
회사/오피셜       1986450000     8337