<a href="https://colab.research.google.com/github/pano1215/Bigdata_analyst_certification-/blob/main/%EA%B8%B0%EC%B6%9C2%ED%9A%8C_BigData_example1_LAB_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 2.기출문제 (빅분기 실기 2회)

In [ ]:
!git clone https://github.com/Soyoung-Yoon/bigdata

Cloning into 'bigdata'...
remote: Enumerating objects: 62, done.
remote: Counting objects: 100% (12/12), done.
remote: Compressing objects: 100% (12/12), done.
remote: Total 62 (delta 3), reused 0 (delta 0), pack-reused 50
Unpacking objects: 100% (62/62), 14.49 MiB | 6.33 MiB/s, done.

#### 2-1. 보스턴 데이터
보스턴 데이터 범죄율 컬럼('CRIM')의 top10 중 10번째 범죄율 값으로 1~10위의 범죄율 값을 변경 후, 'AGE' 변수의 값이 80이상인 것에 대한 범죄율 평균을 산출하라.

In [ ]:
## sklearn에서 더이상 boston 데이터를 제공하지 않으므로 교체합니다.
##from sklearn.datasets import load_boston
import pandas as pd
df = pd.read_csv('bigdata/boston.csv')
df.head(2)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.9,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.9,9.14,21.6

#### 2-2. 하우징 데이터
- housing.csv 파일을 사용한다
- 주어진 데이터의 첫번째 행 부터 순서대로 80% 까지의 데이터를 추출 후 'total_bedrooms' 변수의 결측값(NA)을 'total_bedrooms' 변수의 중앙값으로 대체하고,
- 대체 전의 'total_bedrooms' 변수 표준편차값과 대체 후의 'total_bedrooms' 변수 표준편차 값을 산출하여
- 대체 전 표준편차 값 - 대체 후 표준편차 값을 구해 출력한다.

In [ ]:
# https://www.kaggle.com/camnugent/introduction-to-machine-learning-in-r-tutorial

#### 2-3. 하우징 데이터
- 'https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/housing.csv' 파일을 사용한다
- 하우징 데이터에서 'latitude' 컬럼의 이상치를 찾아 이상치들의 합을 산출하시오.
- 이상치 기준 : 평균 - (표준편차 * 1.5), 평균 + (표준편차 * 1.5)

In [ ]:
평균 - (표준편차 * 1.5), 평균 + (표준편차 * 1.5)

## 3.기출문제 (빅분기 실기 2회)
- 고객 구매 데이터를 사용해서 고객이 주문한 물품이 제 시간에 도착여부(Reached.on.Time_Y.N) 예측
- X_train.csv, y_train.csv : 학습 및 학습평가에 사용하는 파일
- X_test.csv : 제출용 데이터 생성에 사용하는 파일
- roc_score를 사용하여 평가
- 아래의 형식으로 submission수험번호.csv 로 저장
- Reached.on.Time_Y.N은 제 시간에 도착할 확률
        ID,Reached.on.Time_Y.N
        7007,0.27419354838709675
        9793,0.4883720930232558
        6593,0.48174157303370785
        10527,0.3657243816254417

### 3-01.문제이해

In [ ]:
# https://www.kaggle.com/prachi13/customer-analytics?select=Train.csv
# 기출에서 기억나는 것
# - 컬럼 중 1개가 숫자형으로 안내 되었는데 info() 결과 object로 표시됨
# - head() 로 해서 표시되지 않았음
# - value가 '1', '*7', '4', '9', '*7' 이렇게 되어 있어서 '*'을 제거하고 dtype을 변경해야함

In [ ]:
import pandas as pd
# 이상한 것 확인
df = pd.DataFrame({'rating': ['1', '2', '4', '*7', '8', '*7', '3', '5', '2', '*4']})

In [ ]:
# 해결 방법

### 3-02.데이터 불러오기, 탐색

***pandas의 출력 설정 옵션 다시 확인하세요!***

In [ ]:
# [0] 사용 라이브러리 import
import pandas as pd

# 데이타가 많은경우 모두 출력 안되고 ... 으로 생략해서 출력됨.
pd.set_option('display.max_rows',500)    #출력할 max row를 지정
pd.set_option('display.max_columns',20)  #출력할 max columns를 지정
#출력 format 지정 - 소수점아래 4자리까지
pd.set_option('display.float_format', '{:.4f}'.format)

In [ ]:
# [0] x_train, x_test 데이터로 생성함
# 이 부분은 시험에서는 없습니다. 그냥 데이터를 3개로 나누기 위해 사용한 것입니다.
from sklearn.model_selection import train_test_split

dftot = pd.read_csv('https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/1st_Train.csv')
x_train, x_test = train_test_split(dftot, test_size=0.4, stratify=dftot['Reached.on.Time_Y.N'], random_state=0)
y_train = x_train[['Reached.on.Time_Y.N']]
x_train = x_train.drop(columns='Reached.on.Time_Y.N')
y_test = x_test[['Reached.on.Time_Y.N']]   # 이것은 시험에서는 제공되지 않음
x_test = x_test.drop(columns='Reached.on.Time_Y.N')

x_train.to_csv('x_train.csv', index=False)
y_train.to_csv('y_train.csv', index=False)
x_test.to_csv('x_test.csv', index=False)
y_test.to_csv('y_test.csv', index=False) # 이것은 시험에서는 제공되지 않음

In [ ]:
x_train.shape, y_train.shape, x_test.shape

((6599, 11), (6599, 1), (4400, 11))

In [ ]:
# 여기에 문제를 풀이해 보세요!

# [0] import
import numpy as np

from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import mean_squared_log_error as msle
from sklearn.metrics import mean_absolute_error as mae
from sklearn.metrics import mean_absolute_percentage_error as mape
from sklearn.metrics import f1_score, roc_auc_score

from sklearn.preprocessing import MinMaxScaler, StandardScaler, LabelEncoder
from sklearn.tree import DecisionTreeRegressor, DecisionTreeClassifier
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.neighbors import KNeighborsRegressor, KNeighborsClassifier

# [1] 데이터 결측치 확인
# [1-1] 데이터 불러오기 & 합치기
X = pd.read_csv('x_train.csv')
X_submission = pd.read_csv('x_test.csv')
Y = pd.read_csv('y_train.csv')
Y_test = pd.read_csv('y_test.csv')
# print(X.shape, X_test.shape, Y.shape, Y_test.shape)
#    (6599, 11) (4400, 11)   (6599, 1) (4400, 1)

dfX = pd.concat([X, X_submission], axis = 0)
# print(dfX.shape) # (10999, 11)

# [1-2] 결측치 또는 object 대체
# dfX.info()
# print(dfX.isna().sum())
'''
1   Warehouse_block      10999 non-null  object 5 ['F' 'A' 'B' 'D' 'C'] -> OH get_dummies
2   Mode_of_Shipment     10999 non-null  object 3 ['Ship' 'Road' 'Flight'] -> OH get_dummies
7   Product_importance   10999 non-null  object 3 ['medium' 'low' 'high'] -> OH get_dummies
8   Gender               10999 non-null  object 2 ['F' 'M'] -> LE (0, 1)
'''
temp = dfX[['Warehouse_block', 'Mode_of_Shipment', 'Product_importance', 'Gender']]
# print(temp.nunique())
# print(temp['Warehouse_block'].unique())
# print(temp['Mode_of_Shipment'].unique())
# print(temp['Product_importance'].unique())
# print(temp['Gender'].unique())

# 0, 1, LE
for x in ['Gender'] :
  dfX[x] = dfX[x].astype('category').cat.codes

# OH
temp = pd.get_dummies(dfX[['Warehouse_block', 'Mode_of_Shipment', 'Product_importance']])
# dfX.info()
dfX = pd.concat([dfX, temp], axis = 1)
dfX = dfX.drop(columns = ['Warehouse_block', 'Mode_of_Shipment', 'Product_importance'])
# dfX.info()

# [2] 데이터 모델링 & 평가
# [2-1] 데이터 분리
X1 = dfX.iloc[:X.shape[0], :]
X_submission1 = dfX.iloc[X.shape[0]:, :]
Y1 = Y['Reached.on.Time_Y.N']
# print(X1.shape, X_submission1.shape, Y1.shape)
#    (6599, 19) (4400, 19)           (6599,)
#X1.info()

# [2-2] 데이터 스케일링
scaler = MinMaxScaler()
X1 = scaler.fit_transform(X1)
X_submission1 = scaler.transform(X_submission1)

# [2-3] 모델 생성
r = train_test_split(X1, Y1, test_size = 0.25, stratify = Y1, random_state = 1234)
x_train, x_test, y_train, y_test = r
# print([x.shape for x in r])
# [(4949, 19), (1650, 19), (4949,), (1650,)]

# [2-4] 평가
model1 = DecisionTreeClassifier(random_state = 1234).fit(x_train, y_train)
y_pred = model1.predict_proba(x_test)[:, 1]
a = model1.score(x_train, y_train)
b = model1.score(x_test, y_test)
c = roc_auc_score(y_test, y_pred)
# print(f'{a:.4f} {b:.4f} {c:.4f}')
# 1.0000 0.6224 0.6051

#########################################
model2 = RandomForestClassifier(random_state = 1234).fit(x_train, y_train)
y_pred = model2.predict_proba(x_test)[:, 1]
a = model2.score(x_train, y_train)
b = model2.score(x_test, y_test)
c = roc_auc_score(y_test, y_pred)
#print(f'{a:.4f} {b:.4f} {c:.4f}')
# 1.0000 0.6545 0.7242

#########################################
model3 = LogisticRegression(random_state = 1234).fit(x_train, y_train)
y_pred = model3.predict_proba(x_test)[:, 1]
a = model3.score(x_train, y_train)
b = model3.score(x_test, y_test)
c = roc_auc_score(y_test, y_pred)
# print(f'{a:.4f} {b:.4f} {c:.4f}')
# 0.6567 0.6491 0.7416


# [3] 데이터 제출
# [3-1] 예측값 설정
predict = model3.predict_proba(X_submission1)[:, 1]
submission = pd.DataFrame({'Reached.on.Time_Y.N':predict})

# [3-2] CSV 만들기
submission.to_csv('수험번호.csv', index = False)

# [4] 제출 데이터 확인
# temp = pd.read_csv('수험번호.csv')
# temp.tail(5)
# temp.shape # (4400, 1)

(4400, 1)